/* Estilos generales */
/* Estilos para el formulario */
.login-container {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #691010;
  border-radius: 5px;
  background-color: #d48585;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h2 {
  font-size: 24px;
  color: #6659f2;
}
form {
  margin-top: 20px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e4d829;
  border-radius: 3px;
}
button {
  background-color: #6659f2;
  color: #d1cede;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #3a2aee;
}
